<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" href="../assets/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">

    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon">

    <title>Add Movie</title></head>
<body><
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon"><span></span><span></span></div>
    </div>
</div><!-- ==========Preloader========== --><!-- ==========Overlay========== -->
<div class="overlay"></div>
<a href="#0" class="scrollToTop"><i class="fas fa-angle-up"></i></a><!-- ==========Overlay========== -->
<!-- ==========Header-Section========== -->
<header class="header-section">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo"><a href="/"><img src="../assets/images/logo/logo.png" alt="logo"></a></div>
            <ul class="menu">
                <li><a href="/" class="active">Home</a>
                </li>
                <li><a href="/user/viewAll">movies</a>
                    <ul class="submenu">
                        <li><a href="/admin/food" >Add Food</a></li>
                    </ul>
                </li>
                <li><a href="/user/myLikedMovie">My Liked Movies</a>
                </li>
                <li><a href="/about">About Us</a>
                </li>
                <li><a href="/blog">blog</a>
                </li>
                <li><a href="/contact">contact</a></li>
                <li class="header-button pr-0"><a th:href="${user==null?'/sign-in':'/logout'}" th:text="${user==null?'join us':'log out'}"></a></li>
            </ul>
            <div class="header-bar d-lg-none"><span></span><span></span><span></span></div>
        </div>
    </div>
</header><!-- ==========Header-Section========== --><!-- ==========Banner-Section========== -->
<section class="details-banner hero-area bg_img seat-plan-banner"
         data-background="../assets/images/banner/banner04.jpg">
    <div class="container">
        <div class="details-banner-wrapper">
            <div class="details-banner-content style-two"><h3 class="title">Add Movie</h3>
            </div>
        </div>
    </div>
</section><!-- ==========Banner-Section========== --><!-- ==========Page-Title========== -->
<section class="page-title bg-one">

</section><!-- ==========Page-Title========== --><!-- ==========Movie-Section========== -->
<div class="movie-facility padding-bottom padding-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <div class="checkout-widget checkout-contact"><h5 class="title">Please input movie Details</h5>
                    <form class="checkout-contact-form" action="/admin/addMovie" method="post"
                          enctype="multipart/form-data">
                        <div class="form-group"><input type="text" name="name" placeholder="Movie Name"></div>
                        <div class="form-group"><input type="text" name="duration" placeholder="Duration "></div>
                        <div class="form-group"><input type="text" name="thriller" placeholder="thrillerUrl"></div>

                        <div class="form-group"><select  name="category" style="color: black; background-color: #184687">
                            <option value="THRILLER">THRILLER</option>
                            <option value="FANTASY">FANTASY</option>
                            <option value="DRAMA">DRAMA</option>
                            <option value="DETECTIVE">DETECTIVE</option>
                            <option value="ACTION">ACTION</option>
                            <option value="COMEDY">COMEDY</option>
                            <option value="ROMANCE">ROMANCE</option>
                            <option value="DOCUMENTARY">DOCUMENTARY</option>
                        </select>
                        </div>
                        <div class="form-group"><input type="text" name="description" placeholder="description"></div>
                        <div class="form-group"><select  name="language" style="color: black; background-color: #184687">
                            <option value="ARM">ARM</option>
                            <option value="RUS">RUS</option>
                            <option value="ENG">ENG</option>
                        </select></div>
                        <h6 style="margin-top: 70px; margin-right: 16px">YYYY-MM-dd hh:mm:ss</h6>
                        <div class="container">
                            <div class="page-title-area" style="margin-top: 30px">
                                <h5>seance 1</h5>
                                <div class="item date-item"><input type="datetime-local"  name="seanceOne">
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="page-title-area" style="margin-top: 30px">
                                <h5>seance 2</h5>
                                <div class="item date-item"><input  type="datetime-local"
                                                                   name="seanceTwo" style="margin-left: 200px">
                                </div>
                            </div>
                        </div>
                            <div class="container">
                                <div class="page-title-area" style="margin-top: 30px">
                                    <h5>seance 3</h5>
                                    <div class="item date-item"><input type="datetime-local" name="seanceThree">

                                    </div>
                                </div>
                            </div>
                        <label>

                            <div class="form-group" style="margin-top: 30px; color: red">Photos<input type="file" multiple
                                                                                                 style="display: none;"
                                                                                                 name="picture" size="1"
                                                                                                 class="custom-button"><br>
                            </div>
                        </label>
                        <div class="form-group" style="margin-top: 30px"><input type="submit" value="Add"
                                                                                class="custom-button"></div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div><!-- ==========Movie-Section========== --><!-- ==========Newslater-Section========== -->
<footer class="footer-section">
    <div class="newslater-section padding-bottom">
        <div class="container">

        </div>
    </div>
    <div class="container">
        <div class="footer-top">
            <div class="logo"><a href="/"><img src="../assets/images/footer/footer-logo.png" alt="footer"></a>
            </div>
            <ul class="social-icons">
                <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://twitter.com/?lang=ru" class="active"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.pinterest.com/"><i class="fab fa-pinterest-p"></i></a></li>
                <li><a href="https://www.google.ru/"><i class="fab fa-google"></i></a></li>
                <li><a href="https://www.instagram.com/?hl=ru"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-area">
                <div class="left"><p>Copyright © 2020.All Rights Reserved By <a href="http://www.bootstrapmb.com/">Boleto </a>
                </p></div>
                <ul class="links">
                    <li><a href="/about">About</a></li>
                    <li><a href="#0">Privacy Policy</a></li>
                    <li><a href="#0">FAQ</a></li>
                    <li><a href="#0">Feedback</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer><!-- ==========Newslater-Section========== -->
<script src="../assets/js/jquery-3.3.1.min.js"></script>
<script src="../assets/js/modernizr-3.6.0.min.js"></script>
<script src="../assets/js/plugins.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/isotope.pkgd.min.js"></script>
<script src="../assets/js/magnific-popup.min.js"></script>
<script src="../assets/js/owl.carousel.min.js"></script>
<script src="../assets/js/wow.min.js"></script>
<script src="../assets/js/countdown.min.js"></script>
<script src="../assets/js/odometer.min.js"></script>
<script src="../assets/js/viewport.jquery.js"></script>
<script src="../assets/js/nice-select.js"></script>
<script src="../assets/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
    $('#timePicker').datetimepicker();
</script>

</body>
</html>